<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./essentials/cssCDN.ejs') %>
    <title>Document</title>
    
</head>
<body>
    <%- include('./essentials/navbar.ejs') %>
    <%- include('./essentials/scriptsCDN.ejs') %>
</body>
</html>