<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./essentials/cssCDN.ejs') %>
    <title>Document</title>
  </head>
  <!-- <script type="text/javascript">
    window.onbeforeunload = function () {
      return null;
    };
  </script> -->
  <body>
    <%- include('./essentials/navbar.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form action="http://localhost:5000/user/signin" method="POST">
            <div class="mb-3 mt-4">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./essentials/scriptsCDN.ejs') %>
  </body>
</html>
